# Python
__pycache__/
*.py[cod]
*.egg-info/
*.log

# VSCode
.vscode/

# Environments
env/
venv/
.venv/

# OS
.DS_Store
Thumbs.db

# Models and data
#models/*.pt

# Streamlit cache
.streamlit/

# 🔽 테스트 파일 제외
test_*.py


